.callingDetails {
  width: 90%;
  height: 7em;
  background-color: blanchedalmond;
  margin: auto;
  margin-top: 3%;
  border-radius: 20px;
  display: flex;
}
.mySlides {
  width: 100%;
}

.imageSlide {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.next {
  background-color: black;
  margin-top: 80%;
}

#whatsApp {
  margin-left: auto;
  margin-right: auto;
}
#main {
  display: grid;
  width: 90%;
  grid-template-columns: 49.4% 49.4%;
  margin: auto;
  grid-gap: 1.2%;
}
.main_Image {
  width: 100%;
}
.img1 {
  width: 100%;
}

.prev-btn {
  font-size: 26px;
  background-color: black;
  color: white;
  padding: 1.2%;
  margin-top: -150px;
  position: absolute;
}
.next-btn {
  font-size: 26px;
  background-color: black;
  color: white;
  padding: 1.2%;

  position: absolute;
  margin-left: 95.1%;
  margin-top: -150px;
}
.slide-show-cont {
  height: 19%;
}
#slide-show-img-box {
  height: 100%;
}
#slide-show-img {
  height: 100%;
  width: 100%;
}

.newIssue1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 2%;
}

.newIssue2 {
  width: 100%;
}

.bestSelling1 {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 2%;
}

.bestSelling2 {
  width: 100%;
}

#youtube {
  width: 33%;
  margin: 0.1%;
}
/* .youtube {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  height: 190px;
} */
.youtube1 {
  width: 100%;
  height: 190px;
}
#pinkpink {
  width: 100%;
  height: 290px;
  background-color: #ffb79e;
  display: flex;
}
#pinkPra {
  width: 33%;
  height: 290px;
  margin: 0.5%;
  font-size: 20px;

  float: left;
}

#home {
  width: 33%;
  margin: 0.5%;
}
#youtube2 {
  height: 290px;
  background-color: #fef5e4;

  width: 100%;
  display: flex;
}
.youtube3 {
  width: 40%;
  padding: 1.3%;
}
.youtube2Right {
  margin-left: 7%;
}

#celbrating {
  width: 90%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
}
#lastyoutube {
  height: 290px;
  background-color: #fef5e4;

  width: 100%;
  display: flex;
  margin-top: 4%;
}
.lastyoutube1 {
  width: 40%;
  padding: 1.3%;
}
.lastyoutubeRight {
  margin-left: 7%;
}

/* /////////////////////////
slide part start

///// */

.slider {
  width: 100%;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider .item {
  margin-right: 10px;
}

.slider .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 5px 5px;
  min-width: 50px;
  background: rgba(255, 255, 255, 0);
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}
.item {
  background-color: blueviolet;
  color: brown;
  width: 100%;
  height: 200px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ///



/////////////////3 images slide */
.container {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
}

.wrapper {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  margin: 0 auto;
  position: relative;
}

li {
  display: inline-block;
  /* padding: 10px;  */
}

.product-container {
  text-align: center;
  padding: 1%;
  z-index: 1;
  cursor: pointer;
  margin: 10.5%;
}

.wrapper::-webkit-scrollbar {
  height: 7px;
}

.wrapper::-webkit-scrollbar-track {
  background: #eeeeee;
  border: 4px solid transparent;
  background-clip: content-box;
}

#click2 {
  position: absolute;
  top: 35%;
  left: 0%;
  width: 85px;
  height: 80px;
  left: 0%;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}

#click {
  position: absolute;
  top: 35%;
  right: 0%;

  width: 85px;
  height: 80px;

  border-right: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  opacity: 0.8;
  cursor: pointer;
}

#click:hover,
#click2:hover {
  opacity: 1;
}

.right-arrow {
  background: url(https://comunit.github.io/Product-slider/img/right.png)
    no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 40%;
}

.left-arrow {
  background: url(https://comunit.github.io/Product-slider/img/left.png)
    no-repeat;
  background-position: 50% 50%;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: 40%;
}
/* //////////////////


yaha tak slide wal part  hai

////// */

#EXPLOREMORE {
  display: block;
  margin: 0 auto;
  background-color: #3b9f95;
  color: #eeeeee;
  border: none;
  width: 12%;
  height: 35px;
  margin-top: 2%;
}

#viewRange {
  display: block;
  margin: 0 auto;
  background-color: #3b9f95;
  color: #eeeeee;
  border: none;
  width: 12%;
  height: 35px;
  margin-top: 2%;
}
